@using Almacen.Domain.DTOs.MarcaDTO;
@model List<MarcaDTO>
@{
    ViewData["Title"] = "Marcas";
}

<div class="container-fluid" style="max-width:924px;">
    <div class="row">
        <div class="col-8">
            <h1><i class="fa-solid fa-person"></i> MARCAS</h1>
        </div>
        <div class="4">
            <a asp-controller="Marcas" asp-action="AgregarMarca" class="btn btn-outline-success">
                <i class="fa-solid fa-person-circle-plus"></i>Agregar
            </a>
        </div>
    </div>

    <div class="table">
        <div class="row">
            <div class="col-3">Nombre de marca</div>
            <div class="col-6">Actiones</div>
        </div>
        @foreach (var marcas in Model)
        {
            <div id="row-@marcas.Id_Marca" class="row mb-1 p-1">
                <div class="col-3">@marcas.Nombre_Marca</div>
                <div class="col-6">
                    <a asp-controller="Marcas" asp-action="ActualizarMarca" asp-route-id="@marcas.Id_Marca" type="button" id="edit" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                    <button type="button" id="delete" class="btn btn-outline-danger" onclick="Delete(@marcas.Id_Marca)"><i class="fa-solid fa-trash-can"></i>Eliminar</button>
                </div>
            </div>

        }
    </div>

</div>
<script type="text/javascript">
    function Delete(Id_Marca) {
        $.ajax({
            url: "/api/v1/marcas/delete/" + Id_Marca,
            method: "DELETE",
            dataType: "json",
            contentType: "application/json"
        }).done(function (response) {
            if (response.success) {
                $("#row-" + Id_Marca).remove();
                toastr.success("Correcto")
            }
            else {
                toastr.error(response.errorMessage);
            }
        });
    }
</script>