@using Almacen.Domain.InputModels.Users
@model SigninInputModel

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">

                            <form asp-action="ForgotPassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <h1 class="text-nowrap text-center d-block py-3 w-100">Login</h1>
                                    <div class="mb-3">

                                        <label asp-for="Email" class="form-label">Email Address:</label>
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Email Address" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="cold-4">
                                        <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Send</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

