<h2>Confirmación de Restablecimiento de Contraseña</h2>

<p>Se ha enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, sigue las instrucciones proporcionadas en el correo electrónico.</p>
