@using Almacen.Domain.DTOs.CategoriaDTO;
@model List<CategoriaDTO>
@{
    ViewData["Title"] = "Categorías";
}

<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />

<div class="container-fluid px-4">
    <h1 class="mt-4">Categorías</h1>
    <div class="col-4">
        <a asp-controller="Categorias" asp-action="AgregarCategoria" class="btn btn-outline-success">
            <i class="fa-solid fa-person-circle-plus"></i>Agregar
        </a>
    </div>
    <br><br>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Categorías
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead>
                        <tr>
                            <th scope="col" class="align-middle">Categoría</th> 
                            <th scope="col" class="align-middle">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categoria in Model)
                        {
                            <tr>
                                <td class="align-middle">@categoria.Nombre_Categoria</td>
                                <td class="align-middle">
                                    <a asp-controller="Categorias" asp-action="ActualizarCategoria" asp-route-id="@categoria.Id_Categoria" type="button" id="edit" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                                    <button type="button" id="delete" class="btn btn-outline-danger" onclick="Delete(@categoria.Id_Categoria)"><i class="fa-solid fa-trash-can"></i>Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/js/datatables-simple-demo.js"></script>

<script type="text/javascript">
    function Delete(id_categoria) {
        $.ajax({
            url:"/api/v1/categorias/Eliminar/" + id_categoria,
            method: "DELETE",
            dataType: "json",
            contentType: "application/json"
        }).done(function (response) {
            if (response.success) {
                $("#row-" + id_categoria).remove();
                toastr.success("Categoría eliminada");
                location.reload();
            }
            else {
                toastr.error(response.errorMessage);
            }
        });
    }
</script> 